<!DOCTYPE html>
<html data-ng-init = "CheckNow()" data-ng-app="myApp" data-ng-controller="ebooksCtrl">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="lib/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="cssebooksadmin.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Ebooks</title>


<style>
.hadil {
    position: relative;
    display: inline-block;
}

.hadil .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
	top: 100%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -50px;
}

.hadil:hover .tooltiptext {
    visibility: visible;
}

</style>

<script>


	var app = angular.module('myApp', []);
	app.controller('ebooksCtrl', function($scope, $http,$window) {		
		
			var timerhandler;

		    $scope.CheckNow = function()
		    {
//	        	alert('success');

		        $.ajax(
		        {
		            type: 'GET',
		            url: 'GetAllLikesNumOrdered',
		            success: function(data) 
		            {
		     //       	alert('success');
		                var allcookies = document.cookie;
		                cookiearray = allcookies.split(';');
		                  // username = cookiearray[0].split('=')[1]; 
		                   type = cookiearray[1].split('=')[1];  
		                   console.log(type)
		                   if(type=="user"){
		                       window.location.href='homeUser.html';
		                   }
		                   else{
		           		$http.get('GetAllEbooks')..success(function(data, status, headers,config) {
		        			$scope.allEbooks = data;

		        		})
		        		.error(function(data, status, headers,config){
		        			
		        		});
						$scope.myVar = true;
		                  // alert('suuu')
		                   }
		            }
		        });

		    }
		    console.log("ajaaax")
		    timerhandler = setInterval($scope.CheckNow,50000);
		    
			$http.get('GetAllEbooks')..success(function(data, status, headers,config) {
				$scope.myData = data;
				$scope.statuscode = status;
			})
			.error(function(data, status, headers,config){
				
			});
		    
	
			
			
        var allcookies = document.cookie;
        cookiearray = allcookies.split(';');
           username = cookiearray[0].split('=')[1]; 
           type = cookiearray[1].split('=')[1];  
           console.log(username);

       var parameters = { params: {
			username : username
          }
       }


       $scope.logout = function(){
			$http.get("Logout").success(function(data, status, headers,config){
               window.location.href='index.html';

			})
			.error(function(data, status, headers,config){
				
			});
		}
// 		$scope.showLikes = function (id){
// 			var pars = {
// 				params:{id: id}
// 			};
// 			$http.get('GetAllNicknamesByEbookLikes',pars).then(function(response) {
// 				$scope.likes = response.data;
// 				$scope.likeStatusCode = response.status;
// 			});
			
	//		console.log($scope.likes);
		//	document.getElementById("allLikes").setAttribute("title", likes);

		//}
		$scope.hideLikes = function (){
			$scope.likes=null;
			document.getElementById("allLikes").setAttribute("visibility", "hidden");
		}
		
		$scope.getReviews =function (id,title){
			document.getElementById('ebookName').innerHTML =  title;
			var temp = {
				title: title
			};
			var jsonId = JSON.stringify(temp);
			var pars = {
				params:{title: title}
			};
			console.log(jsonId)
			$http.get('GetAllReviewsByTitle',pars).success(function(data, status, headers,config){
				$scope.reviews = response.data;
				$scope.statusCode = response.status;
			})
			.error(function(data, status, headers,config){
				
			});
		}
		
		$scope.goToprofile =function (title,nickname){
			document.getElementById(title+nickname).setAttribute('href', 'profile.html?nickname=' + nickname);
		}
		
		$scope.myFunction = function(bookTitle) {
		//	 alert('myFunction');
			console.log(bookTitle);
			var pars = {
					params:{title: bookTitle}
				};
				$http.get('GetAllNicknamesByEbookLikes',pars).then(function(response) {
					$scope.booklikes = response.data;
					$scope.likeStatusCode = response.status;
				});
		//$scope.likes = {name : "sampleName", age : 18, email : "mail"};
	//	var popup = document.getElementById(bookTitle);
	//	 popup.clasList.add('ghada','heeey');
		// popup.classList.toggle("show");
		}
		
		$scope.openImg = function(imgId,source,alter){
	    	var modal = document.getElementById('ghadaModal');

	    	// Get the image and insert it inside the modal - use its "alt" text as a caption
	    	var img = document.getElementById(imgId);
	    	var modalImg = document.getElementById("img01");
	    	var captionText = document.getElementById("caption");
	    	    modal.style.display = "block";
	    	    modalImg.src = source;
	    	    captionText.innerHTML = alter;
	    	// Get the <span> element that closes the modal
	    	var span = document.getElementsByClassName("close")[0];

	    	// When the user clicks on <span> (x), close the modal
	    	span.onclick = function() { 
	    	    modal.style.display = "none";
	    	}
	}

	});
</script>

</head>
<body  data-ng-if="myVar" data-ng-app="myApp" data-ng-controller="ebooksCtrl">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="homeAdmin.html">Books For All</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="homeAdmin.html">Home</a></li>
					<li class="active"><a href="ebooksAdmin.html">E-Books</a></li>
					<li><a href="AllUsers.html">All Users</a></li>
					<li><a href="purchaseHistory.html">Purchase History</a></li>
					<li><a href="unapprovedReviews.html">Unapproved Reviews</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html" data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	


	<div  class="container" >
		<div id="selectedBook" style="color:white;visibility: none;"></div>
		<div class="scrollit">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Image</th>
					<th>Price</th>
					<th>Short Description</th>
					<th>Likes' Number</th>
					<th>Reviews</th>
				</tr>
			</thead>
			
			<tbody>
			
				<tr data-ng-repeat="x in myData">
					<td>{{x.title}}</td>
					<td>
  <img id="{{x.image}}" data-ng-src="{{x.image}}" style="width:150px" data-ng-click="openImg(x.image,x.image,x.title)">
</td>
					<td>{{x.price}}</td>
					<td>{{x.shortDescription}}</td>
					<td >
		<!--  			<a id="allLikes" data-toggle="tooltip" data-ng-mouseover="showLikes(x.id)" data-ng-mouseleave="hideLikes()">{{x.likesNum}}</a> -->

      <div id="allLikes" class="hadil" data-toggle="tooltip" data-ng-mouseover="myFunction(x.title)" >{{x.likesNum}}
  <span  class="tooltiptext">
	<span   data-ng-repeat="f in booklikes">
	<a href="#" id="{{x.title}}{{f}}" data-ng-click="goToprofile(x.title,f)" style="color:white;">
        {{f}}
        </a>
        <br>
        </span>
        </span>
        </div>


					</td>
					
					<td><a class="btn btn-block btn-primary" data-ng-click="getReviews(x.id,x.title)" data-toggle="modal" data-target="#myModal" >
			 		Reviews
    				</a></td>
    				<!-- The Modal -->

				</tr>
			</tbody>
		</table>
		</div>
		
		
		<div id="ghadaModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>


<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="ebookName"></h4>
        </div>
        <div class="modal-body">
			<div class="container">
        		<div class="row">
					<div data-ng-repeat="y in reviews"   >
					<!-- data-ng-repeat="y in reviews" -->
   			    		<div class="block-text rel zmin" style="width:420px;">
			       		 	<h1>{{y.nickname}}</h1>
			       		 	<p>{{y.review}}</p>
						</div>
						<br>
					</div>
        		</div>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
<!--   <button data-ng-click="myFunction('The Joy of Life')"></button> -->
<!--     	<ul> -->
<!--          <li data-ng-repeat="f in booklikes">  -->
<!--         {{f}} -->
<!--          </li> -->
        
<!--       </ul> -->
		</div>
	
</body>
</html>