<!DOCTYPE html>
<html data-ng-init="CheckNow()" data-ng-app="myApp"
	data-ng-controller="ebooksCtrl">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="lib/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="cssEbooks.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="jsebooksuser.js"></script>

<title>Ebooks</title>

</head>
<body data-ng-if="myVar" data-ng-app="myApp"
	data-ng-controller="ebooksCtrl">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="homeUser.html">Books For All</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="homeUser.html">Home</a></li>
					<li class="active"><a href="ebooksUser.html">E-Books</a></li>
					<li><a href="myEbooks.html">My E-Books</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html" data-ng-click="logout()"><span
							class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div id="selectedBook" style="color: white; visibility: none;"></div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Image</th>
						<th>Likes' Number</th>
						<th>Short Description</th>
						<th>Price</th>
						<th>Reviews</th>
						<th>Buy</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="x in myData">
						<td>{{x.title}}</td>
						<td><img id="{{x.image}}" data-ng-src="{{x.image}}"
							style="width: 150px"
							data-ng-click="openImg(x.image,x.image,x.title)"></td>

						<td>
							<div id="allLikes" class="hadil" data-toggle="tooltip"
								data-ng-mouseover="myFunction(x.title)">
								{{x.likesNum}} <span class="tooltiptext"> <span
									data-ng-repeat="f in booklikes"> <span
										style="color: white;"> {{f}} </span> <br>
								</span>
								</span>
							</div>
						</td>


						<td>{{x.shortDescription}}</td>

						<td>{{x.price}}€</td>
						<td><a class="btn btn-block btn-primary"
							data-ng-click="getReviews(x.id,x.title)" data-toggle="modal"
							data-target="#myModal"> Reviews </a></td>

						<td><a class="btn btn-block btn-success"
							data-ng-click="BuyEbook(x.title)" data-toggle="modal"
							data-target="#payModal"> Buy </a></td>
					</tr>
				</tbody>
			</table>

		<div id="ghadaModal" class="modal">
			<span class="close">&times;</span> <img class="modal-content"
				id="img01">
			<div id="caption"></div>
		</div>


		<div class="container">

			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title" id="ebookName"></h4>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">
									<div data-ng-repeat="y in reviews">
										<!-- data-ng-repeat="y in reviews" -->
										<div class="block-text rel zmin" style="width: 420px;">
											<h1>{{y.nickname}}</h1>
											<p>{{y.review}}</p>
										</div>
										<br>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>


		<div class="container">

			<div class="modal fade" id="payModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title" id="BuyEbookName"></h4>

						</div>
						<div class="modal-body">
							<div class="container">
								<div class="row">

									<div class="col-xs-12 col-md-4">

										<div class="panel panel-default credit-card-box"
											style="display: inline-block;">

											<div class="panel-body">
												<form role="form" name="payForm" id="payment-form"
													data-ng-submit="submitPayment()">
													<!--                     action="AddNewEbookPurchase" method="post" -->
													<div class="row">
														<div class="col-xs-12">
															<div class="form-group">


																<label for="name">FULL NAME</label> <input type="text"
																	class="form-control" name="fullName" required autofocus />

															</div>
														</div>
													</div>
													<!--                         <div class="row"> -->
													<!--                         <button onclick="f()">click here</button> -->
													<!--                         </div> -->


													<div class="row">
														<div class="col-xs-4 col-md-4">
															<div class="form-group">
																<label for="cardNumber11">CHOOSE</label>
																<div class="input-group">
																	<select name="creditCardCompany"
																		class="form-control selectpicker" id="method">
																		<option value="visa">Visa</option>
																		<option value="amex">Amex</option>

																	</select>
																</div>
															</div>
														</div>
														<div class="col-xs-8 col-md-8 pull-right">
															<div class="form-group">
																<label for="cardNumber">CARD NUMBER</label> <input
																	type="tel" class="form-control" name="creditCardNumber"
																	placeholder="Valid Card Number"
																	autocomplete="cc-number" pattern=".{15,}" required
																	maxlength="16" />

															</div>
														</div>


													</div>



													<div class="row">
														<div class="col-xs-7 col-md-7">
															<div class="form-group">
																<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span
																	class="visible-xs-inline">EXP</span> DATE</label> <input
																	type="tel" class="form-control" name="expiry"
																	placeholder="MM - YY" autocomplete="cc-exp" required
																	pattern=".{5,}" maxlength="5" />
															</div>
														</div>
														<div class="col-xs-5 col-md-5 pull-right">
															<div class="form-group">
																<label for="cardCVV">CVV CODE</label> <input type="tel"
																	class="form-control" name="cvv" placeholder="CVV"
																	autocomplete="cc-csc" required pattern=".{3,}"
																	maxlength="4" />
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-xs-12">
															<input type="submit" value="Confirm And Pay" />
														</div>
														<div class="col-xs-12">
														<br>
														<p id="msg" style="color: red;"></p>
														</div>
											
													</div>
													<div class="row" style="display: none;">
														<div class="col-xs-12">
															<p class="payment-errors"></p>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>