<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="lib/angular.min.js" ></script>
<link rel="stylesheet" href="cssIndex.css">
<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('ebooksCtrl', function($scope, $http) {
	//,$location,$window,$state
	$scope.submitLogin = function (){
	    var loginData = {};
	    $("#loginForm").find("input[name]").each(function (index, node) {
	    	loginData[node.name] = node.value;
	    });
	    loginData=JSON.stringify(loginData);
	    console.log(loginData);
		
		$http.post('Login',loginData).success(function(data,status,headers,config){
			//alert("success");
			var allcookies = document.cookie;
    		cookiearray = allcookies.split(';');   
   			username = cookiearray[0].split('=')[1];
   			type = cookiearray[1].split('=')[1];
   			//console.log(type,username);
   			if(type=="admin"){
   				//$location.path('/NewFile.html');
   				alert("admin");
   			}
   			else{
   				//$location.replace = '/books.html';
   				alert("user");
   			}
		})
		
		.error(function(data,status,headers,config){
			alert("failed");
			//$window.location.href = '/index.html';
		});
	};
	
	
	$scope.submitRegistration = function (){
	    var loginData = {};
	    var regData = {};
	     $("#registrationForm").find("input[name]").each(function (index, node) {
	         regData[node.name] = node.value;
	     });
	     console.log(regData);
	     regData=JSON.stringify(regData);
		
		$http.post('SignUp',regData).success(function(data,status,headers,config){
			//alert("success");
// 			var allcookies = document.cookie;
//     		cookiearray = allcookies.split(';');   
//    			username = cookiearray[0].split('=')[1];
//    			type = cookiearray[1].split('=')[1];
//    			//console.log(type,username);
//    			if(type=="admin"){
   				
//    				//$location.path('/NewFile.html');
//    			}
//    			else{
//    				//$location.replace = '/books.html';
//    			}
			alert("success");
		})
		.error(function(data,status,headers,config){
			alert("failed");
			//$window.location.href = '/index.html';
		});
	};
});



</script>


</head>
<body data-ng-app="myApp" data-ng-controller="ebooksCtrl">
<div class="container">
	<div class="row">
		<h2> Login / Registration </h2>
	</div>
</div>


<br>
<br>

<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-6">
<div class="form-body">
    <ul class="nav nav-tabs final-login">
        <li class="active"><a data-toggle="tab" href="#sectionA">Sign In</a></li>
        <li><a data-toggle="tab" href="#sectionB">Join us!</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
        
        
        
        
        <div class="login-page">
		<div class="form">
		        <div class="innter-form">
		
			<h3>Login to your account</h3>
			<form class="login-form" id="loginForm">
			<label>Username</label>
			<br>
            <input type="text" name="username"/>
           	<br>
            <label>Password</label>
            <input type="password" name="password"/>
            
            <input type="submit" data-ng-click="submitLogin()" value="Sign In"/>

            <a href="#">Forgot Password?</a>

			</form>
		</div>
	</div>
	</div>
        
        
        

            
            <div class="clearfix"></div>
        </div>
        <div id="sectionB" class="tab-pane fade">
			<div class="innter-form">
            <form class="sa-innate-form" id="registrationForm">
            <label>Username</label>
            <input type="text" name="username">
            <label>Email</label>
            <input type="text" name="email">
            <label>City</label>
            <input type="text" name="city">
            <label>Street</label>
            <input type="text" name="street">
            <label>Apartment Number</label>
            <input type="text" name="apartment">
            <label>Postal Code</label>
            <input type="text" name="postalCode">
            <label>Telephone Number</label>
            <input type="text" name="telephoneNumber">
            <label>Password</label>
            <input type="password" name="password">
            <label>Nickname</label>
            <input type="text" name="nickname">
            <label>Description</label>
            <input type="text" name="shortDescription">
            <label>Photo</label>
<!--         <input type="file" accept="image/*" name="photo"> -->
            <input type="file" name="photo" accept="image/x-png,image/gif,image/jpeg" />
            <input data-ng-click="submitRegistration()" type="submit" value="Join now">
            </form>
            </div>
            
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>

</body>
</html>