<!DOCTYPE html>
<html data-ng-init = "CheckNow()" data-ng-app="myApp" data-ng-controller="ebooksCtrl">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="lib/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="cssEbooks.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="cssMyebooks.css">
<title>My Ebooks</title>

<script>
// var timerhandler;

// $(document).ready(function() {
// CheckNow();
//     function CheckNow()
//     {

//         $.ajax(
//         {
//             type: 'GET',
//             url: 'GetAllUnapprovedReviews',
//             success: function(data) 
//             {
//             //	alert('success');
//                 var allcookies = document.cookie;
//                 cookiearray = allcookies.split(';');
//                   // username = cookiearray[0].split('=')[1]; 
//                    type = cookiearray[1].split('=')[1];  
//                    console.log(type)
//                    if(type=="admin"){
//                        window.location='homeAdmin.html';
//                    }
//             }
//         });

//     }
//     console.log("ajaaax")
//     timerhandler = setInterval(CheckNow,50000);
//     //50000 = 50 seconds
// });
</script>
<script>

// 	var firstApp = angular.module('initApp', []);
// 	firstApp.controller('initCtrl', function($scope, $http,$window) {
		
// 		var timerhandler;

// 	    $scope.CheckNow = function()
// 	    {
// //        	alert('success');

// 	        $.ajax(
// 	        {
// 	            type: 'GET',
// 	            url: 'GetAllLikesNumOrdered',
// 	            success: function(data) 
// 	            {
// 	     //       	alert('success');
// 	                var allcookies = document.cookie;
// 	                cookiearray = allcookies.split(';');
// 	                  // username = cookiearray[0].split('=')[1]; 
// 	                   type = cookiearray[1].split('=')[1];  
// 	                   console.log(type)
// 	                   if(type=="admin"){
// 	                       window.location='homeAdmin.html';
// 	                   }
// 	            }
// 	        });

// 	    }
// 	    console.log("ajaaax")
// 	    timerhandler = setInterval($scope.CheckNow,50000);
		
		
// 	});
</script>
<script>
	var app = angular.module('myApp', []);
	app.controller('ebooksCtrl', function($scope, $http,$window) {		
			var isReading=0;
			var timerhandler;

		    $scope.CheckNow = function()
		    {
//	        	alert('success');

		        $.ajax(
		        {
		            type: 'GET',
		            url: 'GetAllLikesNumOrdered',
		            success: function(data) 
		            {
		     //       	alert('success');
		                var allcookies = document.cookie;
		                cookiearray = allcookies.split(';');
		                  // username = cookiearray[0].split('=')[1]; 
		                   type = cookiearray[1].split('=')[1];  
		                   console.log(type)
		                   if(type=="admin"){
		                       window.location.href='homeAdmin.html';
		                   }
		                   else{
		                	   var allcookies = document.cookie;
		                       cookiearray = allcookies.split(';');
		                       var username = cookiearray[0].split('=')[1]; 
		                		var pars = {
		                			params : {username : username}
		               			};
		                		console.log(username);
		                		$http.get('GetEbooksByUsername', pars).then(function(response) {
		                			$scope.myEbooks = response.data;
		               				$scope.statusCode = response.status;
		               			});
		                	
		          
		                	   //$http.get('GetPurchasedEbooksByUsername').then(function(response) {
		        			//$scope.myEbooks = response.data;

		        			//});
							$scope.myVar = true;
			              // alert('suuu')
		              }
		            }
		        });

		    }
		    console.log("ajaaax")
		    timerhandler = setInterval($scope.CheckNow,50000);
					
        var allcookies = document.cookie;
        cookiearray = allcookies.split(';');
           username = cookiearray[0].split('=')[1]; 
           type = cookiearray[1].split('=')[1];  
           console.log(username);
   //		if(type=="admin")
	//			window.location.href = 'homeAdmin.html';


       var parameters = { params: {
			username : username
          }
       }
       

       
// 		$http.get('GetPurchasedEbooksByUsername',parameters).then(function(response) {
// 			$scope.purchased = response.data;

// 		});
		
		$scope.logout = function(){
			$http.get("Logout").then(function(response){
				alert(response);
               window.location.href='index.html';

			});
		}
		
		$scope.submitAddingReview = function() {
			var formData = {};
			var title = document.getElementById("selectedBook").innerHTML;
			formData["title"] = title;
			var allcookies = document.cookie;
			cookiearray = allcookies.split(';');
			name = cookiearray[0].split('=')[0];
			value = cookiearray[0].split('=')[1];
			formData["username"] = value;
			//formData["nickname"] = "Ghada";
			//formData["approved"] = 0;
			$("#addReviewForm").find("input[name]").each(function(index, node) {
				formData[node.name] = node.value;
			});
			
			formData = JSON.stringify(formData);
			console.log(formData);
			$http.post('AddEbookReview', formData).success(function(data,status,headers,config) {
				alert(data);
				document.getElementById("review").value = null;
				$('#addReviewModal').modal('toggle');
				document.getElementById("selectedBook").innerHTML = "";

				})
				.error(function(data,status,headers,config){
					alert("failed");
				});
		}
		
		
		
		$scope.AddReview = function(title) {
			document.getElementById("selectedBook").innerHTML = title;
			document.getElementById("selectedBook").style.visibility = " none";
		}
		$scope.AddNewLike =function (title){
// 			var pars = {
// 				params:{title: title}
// 			};
			var allcookies = document.cookie;
	        cookiearray = allcookies.split(';');
			var username = cookiearray[0].split('=')[1]; 
			var temp = {
					title: title,
					username:username
			};
			var jsonTitle = JSON.stringify(temp);
			console.log(jsonTitle);
			$http.post('AddNewEbookLike',jsonTitle).success(function(data,status,headers,config) {
				alert('like added successfully');
				location.reload();
			})
			.error(function(data,status,headers,config){
				alert("failed");
			});
		}
		
		
		$scope.removeLike =function (title){
// 			var pars = {
// 				params:{title: title}
// 			};
			var allcookies = document.cookie;
	        cookiearray = allcookies.split(';');
			var username = cookiearray[0].split('=')[1]; 
			var temp = {
					title: title,
					username:username
			};
			var jsonTitle = JSON.stringify(temp);
			console.log(jsonTitle);
			$http.post('UnlikeEbook',jsonTitle).then(function(response) {
				alert('unlike done');
				location.reload();
			});
		}
		
       $scope.getReviews =function (id,title){
			document.getElementById('ebookName').innerHTML =  title;
			var temp = {
				title: title
			};
			var jsonId = JSON.stringify(temp);
			var pars = {
				params:{title: title}
			};
			console.log(jsonId)
			$http.get('GetAllReviewsByTitle',pars).then(function(response) {
				$scope.reviews = response.data;
				$scope.statusCode = response.status;
			});
		}
		$scope.showLikes = function(id) {
			var pars = {
				params : {
					id : id
				}
			};
			$http.get('GetAllNicknamesByEbookLikes', pars).then(
					function(response) {
						$scope.likes = response.data;
						$scope.likeStatusCode = response.status;
					});

			console.log($scope.likes);
			document.getElementById("allLikes").setAttribute("title",
					$scope.likes);

		}
		$scope.hideLikes = function() {
			//$scope.likes=null;
			document.getElementById("allLikes").setAttribute("title", "");
		}

	
		$scope.openImg = function(imgId,source,alter){
			console.log("heeey")
		    	var modal = document.getElementById('ghadaModal');

		    	// Get the image and insert it inside the modal - use its "alt" text as a caption
		    	var img = document.getElementById(imgId);
		    	var modalImg = document.getElementById("img01");
		    	var captionText = document.getElementById("caption");

		    	    modal.style.display = "block";
		    	    modalImg.src = source;
		    	    captionText.innerHTML = alter;
		    	// Get the <span> element that closes the modal
		    	var span = document.getElementsByClassName("close")[0];

		    	// When the user clicks on <span> (x), close the modal
		    	span.onclick = function() { 
		    	    modal.style.display = "none";
		    	}
		}
		$scope.openBook = function(ebook){ 
			//var a=document.getElementById("allmyebooks");
			//a.setAttribute('data-ng-include',ebook);
			//isReading=1;
			//var a=document.getElementById("allmyebooks");
			//var b=document.getElementById("readbook");
			//a.setAttribute('data-ng-include',ebook);
			window.open(ebook);
		}
	});
</script>


</head>
<body  data-ng-if="myVar" data-ng-app="myApp" data-ng-controller="ebooksCtrl">
<nav  class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="homeUser.html">Books For All</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="homeUser.html">Home</a></li>
					<li><a href="ebooksUser.html">E-Books</a></li>
					<li class="active"><a href="myEbooks.html">My E-Books</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html" data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" >
		<div  id="selectedBook" style="color: white; visibility: none;"></div>
		<table  class="table table-striped">
			<thead data-ng-cloak>
				<tr data-ng-cloak>
					<th>EBook Name</th>
					<th>Image</th>
					<th>Short Description</th>
					<th>Likes' Number</th>
					<th>All Reviews</th>
					<th>Like</th>
					<th>Add Review</th>
					<th>Read EBook</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="x in myEbooks">
					<td>{{x.title}}</td>
					<td>
 				 <img id="{{x.image}}" data-ng-src="{{x.image}}" style="width:150px" data-ng-click="openImg(x.image,x.image,x.title)">
					</td>					
				<td>{{x.shortDescription}}</td>
				<td>{{x.likesNum}}</td>
				<td><a class="btn btn-block btn-primary" data-ng-click="getReviews(x.id,x.title)" data-toggle="modal" data-target="#myModal" >
			 		Reviews
    				</a></td>
    				<td >
    				<a  data-ng-if="x.liked" class="btn btn-block btn-primary" data-ng-click="removeLike(x.title)" >
			 		Unlike
    				</a>
    				<a  data-ng-if="!x.liked" class="btn btn-block btn-primary" data-ng-click="AddNewLike(x.title)" >
			 		Like
    				</a>
					</td>
    				<td><a class="btn btn-block btn-primary" data-ng-click="AddReview(x.title)" data-toggle="modal" data-target="#addReviewModal"  >
			 		Add Review
    				</a></td>
				
				<td>    <a   class="btn btn-block btn-primary"  data-ng-click="openBook(x.location)">Read Me</a>
					</td>

				</tr>
			</tbody>
		</table>

		<div id="ghadaModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="ebookName"></h4>
        </div>
        <div class="modal-body">
			<div class="container">
        		<div class="row">
					<div data-ng-repeat="y in reviews"   >
					<!-- data-ng-repeat="y in reviews" -->
   			    		<div class="block-text rel zmin" style="width:420px;">
			       		 	<h1>{{y.nickname}}</h1>
			       		 	<p>{{y.review}}</p>
						</div>
						<br>
					</div>
        		</div>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="addReviewModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Add new Review</h4>
        </div>
        <div class="modal-body">
			<div class="container">
				<form role="form" name="addReviewForm" id="addReviewForm" data-ng-submit="submitAddingReview()" >
        		<div class="row">
					<input id="review" name="review" maxlength="1000" style="width: 400px; height: 100px;" type="text" autofocus required>
				</div>
				<br>
				<div class="row">
					<input type="submit" style="width: 100px;" class="btn btn-block btn-primary" value="Submit">
        		</div>
        		</form>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
	
</body>
</html>