<!DOCTYPE html>
<html data-ng-init = "CheckNow()" data-ng-app="myApp" data-ng-controller="ebooksCtrl">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="lib/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="cssEbooks.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="cssMyebooks.css">
<title>My Ebooks</title>

<style>
.hadil {
    position: relative;
    display: inline-block;
}

.hadil .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
	top: 100%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -50px;
}

.hadil:hover .tooltiptext {
    visibility: visible;
}

</style>

<script>
// var timerhandler;

// $(document).ready(function() {
// CheckNow();
//     function CheckNow()
//     {

//         $.ajax(
//         {
//             type: 'GET',
//             url: 'GetAllUnapprovedReviews',
//             success: function(data) 
//             {
//             //	alert('success');
//                 var allcookies = document.cookie;
//                 cookiearray = allcookies.split(';');
//                   // username = cookiearray[0].split('=')[1]; 
//                    type = cookiearray[1].split('=')[1];  
//                    console.log(type)
//                    if(type=="admin"){
//                        window.location='homeAdmin.html';
//                    }
//             }
//         });

//     }
//     console.log("ajaaax")
//     timerhandler = setInterval(CheckNow,50000);
//     //50000 = 50 seconds
// });
</script>
<script>

// 	var firstApp = angular.module('initApp', []);
// 	firstApp.controller('initCtrl', function($scope, $http,$window) {
		
// 		var timerhandler;

// 	    $scope.CheckNow = function()
// 	    {
// //        	alert('success');

// 	        $.ajax(
// 	        {
// 	            type: 'GET',
// 	            url: 'GetAllLikesNumOrdered',
// 	            success: function(data) 
// 	            {
// 	     //       	alert('success');
// 	                var allcookies = document.cookie;
// 	                cookiearray = allcookies.split(';');
// 	                  // username = cookiearray[0].split('=')[1]; 
// 	                   type = cookiearray[1].split('=')[1];  
// 	                   console.log(type)
// 	                   if(type=="admin"){
// 	                       window.location='homeAdmin.html';
// 	                   }
// 	            }
// 	        });

// 	    }
// 	    console.log("ajaaax")
// 	    timerhandler = setInterval($scope.CheckNow,50000);
		
		
// 	});
</script>
<script>
var x;
	var test=0;
	var app = angular.module('myApp', []);
	app.directive('errSrc', function() {
		  return {
		    link: function(scope, element, attrs) {
		      element.bind('error', function() {
		        if (attrs.src != attrs.errSrc) {
		          attrs.$set('src', attrs.errSrc);
		        }
		      });
		    }
		  }
		});
	app.controller('ebooksCtrl', function($scope, $http,$window) {		
			var isReading=0;
			var timerhandler;
			
		    $scope.CheckNow = function()
		    {
//	        	alert('success');
				$scope.openBook=false;
		        $.ajax(
		        {
		            type: 'GET',
		            url: 'GetAllLikesNumOrdered',
		            success: function(data) 
		            {
		     //       	alert('success');
		                var allcookies = document.cookie;
		                cookiearray = allcookies.split(';');
		                  // username = cookiearray[0].split('=')[1]; 
		                   type = cookiearray[1].split('=')[1];  
		                   console.log(type)
		                   if(type=="admin"){
		                       window.location.href='homeAdmin.html';
		                   }
		                   else{
		                	   var allcookies = document.cookie;
		                       cookiearray = allcookies.split(';');
		                       var username = cookiearray[0].split('=')[1]; 
		                		var pars = {
		                			params : {username : username}
		               			};
		                		console.log(username);
		                		$http.get('GetEbooksByUsername', pars).success(function(data, status, headers,config) {
		                			$scope.myEbooks = data;
		               				$scope.statusCode = status;
		               			})
		               			.error(function(data, status, headers,config){
		               				
		               			});
		                	
		          
							$scope.myVar = true;
			              // alert('suuu')
		              }
		            }
		        });

		    }
	
		
		    timerhandler = setInterval($scope.CheckNow,50000);
					
        var allcookies = document.cookie;
        cookiearray = allcookies.split(';');
           username = cookiearray[0].split('=')[1]; 
           type = cookiearray[1].split('=')[1];  
           console.log(username);
   //		if(type=="admin")
	//			window.location.href = 'homeAdmin.html';


       var parameters = { params: {
			username : username
          }
       }
       

       
       $scope.logout = function(){
			$http.get("Logout").success(function(data, status, headers,config){
              window.location.href='index.html';

			})
			.error(function(data, status, headers,config){
				
			});
		}
		
		$scope.submitAddingReview = function() {
			var formData = {};
			var title = document.getElementById("selectedBook").innerHTML;
			formData["title"] = title;
			var allcookies = document.cookie;
			cookiearray = allcookies.split(';');
			name = cookiearray[0].split('=')[0];
			value = cookiearray[0].split('=')[1];
			formData["username"] = value;
			//formData["nickname"] = "Ghada";
			//formData["approved"] = 0;
			$("#addReviewForm").find("textarea[name]").each(function(index, node) {
				formData[node.name] = node.value;
			});
			$("#addReviewForm").find("input[name]").each(function(index, node) {
				formData[node.name] = node.value;
			});
			
			formData = JSON.stringify(formData);
			console.log(formData);
			$http.post('AddEbookReview', formData).success(function(data,status,headers,config) {
				//alert(data);
				document.getElementById("review").value = null;
				$('#addReviewModal').modal('toggle');
				document.getElementById("selectedBook").innerHTML = "";

				})
				.error(function(data,status,headers,config){
					console.log("failed");
				});
		}
		
		
		
		$scope.AddReview = function(title) {
			document.getElementById('selectedBook').innerHTML = title;
			document.getElementById('selectedBook').style.visibility = 'hidden';
		}
		$scope.AddNewLike =function (title){
// 			var pars = {
// 				params:{title: title}
// 			};
			var allcookies = document.cookie;
	        cookiearray = allcookies.split(';');
			var username = cookiearray[0].split('=')[1]; 
			var temp = {
					title: title,
					username:username
			};
			var jsonTitle = JSON.stringify(temp);
			console.log(jsonTitle);
			$http.post('AddNewEbookLike',jsonTitle).success(function(data,status,headers,config) {
				//alert('like added successfully');
				location.reload();
			})
			.error(function(data,status,headers,config){
				//alert("failed");
				console.log("failed");
			});
		}
		
		$scope.myFunction = function(bookTitle) {
			console.log(bookTitle);
			var pars = {
					params:{title: bookTitle}
				};
				$http.get('GetAllNicknamesByEbookLikes',pars).success(function(data, status, headers,config) {
					$scope.booklikes = data;
					$scope.likeStatusCode = status;
				})
				.error(function(data, status, headers,config){
					
				});
		}
		$scope.removeLike =function (title){
// 			var pars = {
// 				params:{title: title}
// 			};
			var allcookies = document.cookie;
	        cookiearray = allcookies.split(';');
			var username = cookiearray[0].split('=')[1]; 
			var temp = {
					title: title,
					username:username
			};
			var jsonTitle = JSON.stringify(temp);
			console.log(jsonTitle);
			$http.post('UnlikeEbook',jsonTitle).success(function(data, status, headers,config){
				//alert('unlike done');
				location.reload();
			})
			.error(function(data, status, headers,config){
				
			});
		}
		
       $scope.getReviews =function (id,title){
			document.getElementById('ebookName').innerHTML =  title;
			var temp = {
				title: title
			};
			var jsonId = JSON.stringify(temp);
			var pars = {
				params:{title: title}
			};
			console.log(jsonId)
			$http.get('GetAllReviewsByTitle',pars)..success(function(data, status, headers,config) {
				$scope.reviews = data;
				$scope.statusCode = status;
			})
			.error(function(data, status, headers,config){
				
			});
		}
		

	
		$scope.openImg = function(imgId,source,alter){
			console.log("heeey")
		    	var modal = document.getElementById('ghadaModal');

		    	// Get the image and insert it inside the modal - use its "alt" text as a caption
		    	var img = document.getElementById(imgId);
		    	var modalImg = document.getElementById("img01");
		    	var captionText = document.getElementById("caption");

		    	    modal.style.display = "block";
		    	    modalImg.src = source;
		    	    captionText.innerHTML = alter;
		    	// Get the <span> element that closes the modal
		    	var span = document.getElementsByClassName("close")[0];

		    	// When the user clicks on <span> (x), close the modal
		    	span.onclick = function() { 
		    	    modal.style.display = "none";
		    	}
		}
		
		$scope.openBookFunc = function(ebook,title){
		 //   document.getElementById('selectedTarget').style.visibility='hidden';
		    document.getElementById('back_btn').style.visibility='visible';

		//	var tempScrollTop = $(window).scrollTop();
		//var tempScrollTop =   document.getElementById('theBook');
		//var t=tempScrollTop.scrolltop;
			var allcookies = document.cookie;
			cookiearray = allcookies.split(';');
			name = cookiearray[0].split('=')[0];
			value = cookiearray[0].split('=')[1];
			var pars = {
					params : {
						title : title,
						username : value
					}
				};
				$http.get('GetScrollPosition', pars).success(function(data, status, headers,config) {
							$scope.lastPostition = data;
							console.log($scope.lastPostition);	
							if($scope.lastPostition > 0){
								
								var result = confirm(username+", "+ "want to go to where you last stopped reading?" );
								if(result){
								//	console.log("to scroll")
								
									function updatePos(){
									
										$(window).scrollTop($scope.lastPostition);
									}
									setTimeout(updatePos,200);
									
								//	$(document).scrollTop($scope.lastPosition);
	
								}

						}
							
						})
						.error(function(data, status, headers,config){
							
						});
				
		//	$('#selectedTarget').load(ebook);
			
		//	$("img").each(function() {
			//    console.log($(this).prop("src"));
		//	});
			
		//    var x = document.getElementById("selectedTarget");

		    $scope.openBook=true;
		    test=1;
			$scope.ebookContent  =ebook;
			$scope.theBookTitle = title;
			x=title;
			console.log($scope.openBook)
			console.log(ebook)
// 			$('#selectedTarget').load(ebook,function(data){
// 			    $(data).find('img').each(function(){
// 			         $(this).attr('src','...')
// 			    });
// 			});
			//var a=document.getElementById("allmyebooks");
			//a.setAttribute('data-ng-include',ebook);
			//isReading=1;
			//var a=document.getElementById("allmyebooks");
			//var b=document.getElementById("readbook");
			//a.setAttribute('data-ng-include',ebook);
			//window.open(ebook);

		}
		

		
		$scope.finishReading = function(id){
			if($scope.openBook){
				alert("here");
				//document.getElementById('selectedTarget').style.visibility='visible';
			    document.getElementById('back_btn').style.visibility='hidden';
				//var tempScrollTop = $(window).scrollTop();
				//var tempScrollTop =   document.getElementById('theBook');
				//var t=tempScrollTop.scrolltop;
				var tempScrollTop = $(window).scrollTop();
				var allcookies = document.cookie;
				cookiearray = allcookies.split(';');
				name = cookiearray[0].split('=')[0];
				value = cookiearray[0].split('=')[1];
				var temp = {
						scrollPos: tempScrollTop,
						username:value,
						title : $scope.theBookTitle
				};
				var position = JSON.stringify(temp);
				$http.post('UpdateScrollPosition', position).success(function(data,status,headers,config) {
				//	alert(data);
	     //           window.location.href='myEbooks.html';
					$scope.openBook=false;
					test=0;
					})
					.error(function(data,status,headers,config){
						//alert("failed");
						console.log("failed");
					});
				if(id=="home"){
	                window.location.href='homeUser.html';
				}
				if(id=="ebooks"){
	                window.location.href='ebooksUser.html';
				}
				if(id=="myEbooks"){
	                window.location.href='myEbooks.html';
	                location.reload();
				}
				if(id=="booksForAll"){
	                window.location.href='homeUser.html';
				}

			 //   document.getElementById(id).href="xyz.php"; 
		//	    document.getElementById("ebooks").href="ebooksUser"; 
		//	    document.getElementById("myEbooks").href="myEbooks.html"; 
		//	    document.getElementById("booksForAll").href="xyz.php"; 


			}
			test=0;
			$scope.openBook=false;
		}
		
		
	});


function savePosition(){
	if(test){
		console.log("save");
		var tempScrollTop = $(window).scrollTop();
		var allcookies = document.cookie;
		cookiearray = allcookies.split(';');
		name = cookiearray[0].split('=')[0];
		value = cookiearray[0].split('=')[1];
		var temp = {
				scrollPos: tempScrollTop,
				username:value,
				title : x
		};
		var position = JSON.stringify(temp);
		$.post('UpdateScrollPosition', position).done(function(response) {
			
		});
	}
}
</script>

</head>
<body onscroll="savePosition()"  data-ng-if="myVar" data-ng-app="myApp" data-ng-controller="ebooksCtrl" data-ng-err-src="http://google.com/favicon.ico">
 <nav  class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="homeUser.html" id="booksForAll" data-ng-click="finishReading()">Books For All</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="homeUser.html" id="home" data-ng-click="finishReading()">Home</a></li>
					<li><a href="ebooksUser.html" id="ebooks" data-ng-click="finishReading()">E-Books</a></li>
					<li class="active"><a href="myEbooks.html" id="myEbooks" data-ng-click="finishReading()">My E-Books</a></li>
					<li ><a id="back_btn" style="visibility: hidden;" data-ng-click="finishReading()"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html"  data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div data-ng-if="openBook" id="theBook">

<div data-ng-include="ebookContent" id="displayEbook">
</div>
</div>


	<div data-ng-if="openBook!=true" class="container" id="selectedTarget">
		<div  id="selectedBook" style="color: white; visibility: none;"></div>
		<div class="scrollitmyebooks">
		<div style="height:60px;"></div>
		<table  class="table table-striped">
			<thead data-ng-cloak>
				<tr data-ng-cloak>
					<th>EBook Name</th>
					<th>Image</th>
					<th>Short Description</th>
					<th>Likes' Number</th>
					<th>All Reviews</th>
					<th>Like</th>
					<th>Add Review</th>
					<th>Read EBook</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="x in myEbooks">
					<td>{{x.title}}</td>
					<td>
 				 <img id="{{x.image}}" data-ng-src="{{x.image}}" style="width:150px" data-ng-click="openImg(x.image,x.image,x.title)">
					</td>					
				<td>{{x.shortDescription}}</td>
				<td>
					<div id="allLikes" class="hadil" data-toggle="tooltip" data-ng-mouseover="myFunction(x.title)" >{{x.likesNum}}
			  <span  class="tooltiptext">
				<span   data-ng-repeat="f in booklikes">
				<span style="color:white;">
			        {{f}}
			        </span>
			        <br>
			        </span>
			        </span>
			        </div>
					</td>
				<td><a class="btn btn-block btn-primary" data-ng-click="getReviews(x.id,x.title)" data-toggle="modal" data-target="#myModal" >
			 		Reviews
    				</a></td>
    				<td >
    				<a  data-ng-if="x.liked" class="btn btn-block btn-warning" data-ng-click="removeLike(x.title)" >
			 		Unlike
    				</a>
    				<a  data-ng-if="!x.liked" class="btn btn-block btn-success" data-ng-click="AddNewLike(x.title)" >
			 		Like
    				</a>
					</td>
    				<td><a class="btn btn-block btn-primary" data-ng-click="AddReview(x.title)" data-toggle="modal" data-target="#addReviewModal"  >
			 		Add Review
    				</a></td>
				
				<td>    <a   class="btn btn-block btn-primary"  data-ng-click="openBookFunc(x.location,x.title)">Read</a>
					</td>

				</tr>
			</tbody>
		</table>
</div>


		<div id="ghadaModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="ebookName"></h4>
        </div>
        <div class="modal-body">
			<div class="container">
        		<div class="row">
					<div data-ng-repeat="y in reviews"   >
					<!-- data-ng-repeat="y in reviews" -->
   			    		<div class="block-text rel zmin" style="width:420px;">
			       		 	<h1>{{y.nickname}}</h1>
			       		 	<p>{{y.review}}</p>
						</div>
						<br>
					</div>
        		</div>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="addReviewModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Add new Review</h4>
        </div>
        <div class="modal-body">
			<div class="container">
				<form role="form" name="addReviewForm" id="addReviewForm" data-ng-submit="submitAddingReview()" >
        		<div class="row">
					<textarea id="review" name="review" maxlength="1000" style="width: 400px; height: 100px;" type="text" autofocus required></textarea>
				</div>
				<br>
				<div class="row">
					<input type="submit" style="width: 100px;" class="btn btn-block btn-primary" value="Submit">
        		</div>
        		</form>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
	
</body>
</html>