<!DOCTYPE html>
<html data-ng-init = "CheckNow()" data-ng-app="myApp" data-ng-controller="ebooksCtrl">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="lib/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="cssEbooks.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="cssMyebooks.css">
<script src="jsmyebooks.js"></script>
<title>My Ebooks</title>




</head>
<body onscroll="savePosition()"  data-ng-if="myVar" data-ng-app="myApp" data-ng-controller="ebooksCtrl" data-ng-err-src="http://google.com/favicon.ico">
 <nav  class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="homeUser.html" id="booksForAll" data-ng-click="finishReading()">Books For All</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="homeUser.html" id="home" data-ng-click="finishReading()">Home</a></li>
					<li><a href="ebooksUser.html" id="ebooks" data-ng-click="finishReading()">E-Books</a></li>
					<li class="active"><a href="myEbooks.html" id="myEbooks" data-ng-click="finishReading()">My E-Books</a></li>
					<li ><a id="back_btn" style="visibility: hidden;" data-ng-click="finishReading()"><i class="glyphicon glyphicon-arrow-left"></i></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html"  data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div data-ng-if="openBook" id="theBook">

<div data-ng-include="ebookContent" id="displayEbook">
</div>
</div>


	<div data-ng-if="openBook!=true" class="container" id="selectedTarget">
		<div  id="selectedBook" style="color: white; visibility: none;"></div>
		<div class="scrollitmyebooks">
		<div style="height:60px;"></div>
		<table  class="table table-striped">
			<thead data-ng-cloak>
				<tr data-ng-cloak>
					<th>EBook Name</th>
					<th>Image</th>
					<th>Short Description</th>
					<th>Likes' Number</th>
					<th>All Reviews</th>
					<th>Like</th>
					<th>Add Review</th>
					<th>Read EBook</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="x in myEbooks">
					<td>{{x.title}}</td>
					<td>
 				 <img id="{{x.image}}" data-ng-src="{{x.image}}" style="width:150px" data-ng-click="openImg(x.image,x.image,x.title)">
					</td>					
				<td>{{x.shortDescription}}</td>
				<td>
					<div id="allLikes" class="hadil" data-toggle="tooltip" data-ng-mouseover="myFunction(x.title)" >{{x.likesNum}}
			  <span  class="tooltiptext">
				<span   data-ng-repeat="f in booklikes">
				<span style="color:white;">
			        {{f}}
			        </span>
			        <br>
			        </span>
			        </span>
			        </div>
					</td>
				<td><a class="btn btn-block btn-primary" data-ng-click="getReviews(x.id,x.title)" data-toggle="modal" data-target="#myModal" >
			 		Reviews
    				</a></td>
    				<td >
    				<a  data-ng-if="x.liked" class="btn btn-block btn-warning" data-ng-click="removeLike(x.title)" >
			 		Unlike
    				</a>
    				<a  data-ng-if="!x.liked" class="btn btn-block btn-success" data-ng-click="AddNewLike(x.title)" >
			 		Like
    				</a>
					</td>
    				<td><a class="btn btn-block btn-primary" data-ng-click="AddReview(x.title)" data-toggle="modal" data-target="#addReviewModal"  >
			 		Add Review
    				</a></td>
				
				<td>    <a   class="btn btn-block btn-primary"  data-ng-click="openBookFunc(x.location,x.title)">Read</a>
					</td>

				</tr>
			</tbody>
		</table>
</div>


		<div id="ghadaModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="ebookName"></h4>
        </div>
        <div class="modal-body">
			<div class="container">
        		<div class="row">
					<div data-ng-repeat="y in reviews"   >
					<!-- data-ng-repeat="y in reviews" -->
   			    		<div class="block-text rel zmin" style="width:420px;">
			       		 	<h1>{{y.nickname}}</h1>
			       		 	<p>{{y.review}}</p>
						</div>
						<br>
					</div>
        		</div>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="addReviewModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Add new Review</h4>
        </div>
        <div class="modal-body">
			<div class="container">
				<form role="form" name="addReviewForm" id="addReviewForm" data-ng-submit="submitAddingReview()" >
        		<div class="row">
					<textarea id="review" name="review" maxlength="1000" style="width: 400px; height: 100px;" type="text" autofocus required></textarea>
				</div>
				<br>
				<div class="row">
					<input type="submit" style="width: 100px;" class="btn btn-block btn-primary" value="Submit">
        		</div>
        		</form>
    		</div>	
		</div>          
		
        </div>
        
      </div>
      
    </div>
  </div>
  
	
</body>
</html>